<div class="headingWithbutton">
	<h1 class="price-integration-index">New Price Integration</h1>
	<%= link_to 'Back To Integration List', admin_erp_price_integrations_path, class: 'btn btn-success new-integrate' %>
</div>
<%= render 'form' %>


