// Place all the styles related to the ErpIntegrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.erp-integration {
	margin: 108px 0 73px 211px;
}

.label-price {
	margin-right: 20px; 
	font-size: 30px;
}

#erp_integrations {
	font-size: 20px;
}

.table-row-highlight {
	background: blanchedalmond;
}