<div id="spree-header">
  <header id="header" data-hook>
    <figure id="logo" class="" data-hook>
      <%= link_to "Spree Ecommerce", "/", class: "home-logo" %>
    </figure>
    <%= render partial: 'spree/shared/nav_bar' %>
  </header>
</div>
