<div class="home-page-images">
	<%= image_tag "home1.jpg" %>
	<div class="description">
		<div class="home-img-title">Find Your Fit, In Real Life.</div>
		<h2>Style is opinion, fit is fact. Find yours at one of our Guideshop locations. One-on-one service. Complimentary style advice. Plus the perfect fit, delivered right to your door. </h2>
		<div class="home-img-link"><a href="#">VISIT US</a></div>
	</div>
</div>
<div class="home-page-images ">
	<%= image_tag "home2.jpg" %>
	<div class="description left-align-image">
		<div class="home-img-title">Find Your Fit, In Real Life.</div>
		<h2>Style is opinion, fit is fact. Find yours at one of our Guideshop locations. One-on-one service. Complimentary style advice. Plus the perfect fit, delivered right to your door. </h2>
		<div class="home-img-link"><a href="#">VISIT US</a></div>
	</div>
</div>