<% if spree_current_user %>
  <li class="hidden-xs"><%= link_to "Account", spree.account_path %></li>
  <li class="visible-xs">
    <%= link_to spree.account_path do %>
      <span class="glyphicon glyphicon-user"></span>
    <% end %>  
  </li>
  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
<% else %>
  <li id="link-to-login"><%= link_to Spree.t(:login), spree.login_path %></li>
<% end %>
