<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>
<%= render partial: 'spree/shared/slider' %>
<%= render partial: 'spree/shared/home' %>